<div class="container-fluid">
  <div class="row">
    <div id="presenter">
      {% block task-presenter %}
        {% include presenter.template %}
      {% endblock %}
    </div>
    <div id="task">
      {% block task-fill %}
      <form id="taskForm" action="#" method="post">
        {% csrf_token %}
        <div class="row-fluid">
          <div class="col">
            {% for field in form %}
              <div class="form-group">
                <div class="col">
                  {{ field.label }}
                </div>
                <div class="col">
                  {{ field }}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="row-fluid">
          <div class="col">
          {% block task-form %}
{#            {% include task.task_template %}#}
          {% endblock %}
          </div>
        </div>
        <div class="row-fluid">
          <div class="col">
            <button class="btn .bg btn-lg" type="submit">Send & give me one more</button>
            <button class="btn .bg btn-sm" type="submit">Finish for today</button>
          </div>
        </div>
      </form>
      {% endblock %}
    </div>
  </div>
</div>