<select class="{{ class }}" name="{{ name }}" placeholder="{{ placeholder }}" title="{{ placeholder }}" data-live-search="true">
  <option value="" selected>hónap</option>
  <option value="1">január</option>
  <option value="2">február</option>
  <option value="3">március</option>
  <option value="4">április</option>
  <option value="5">május</option>
  <option value="6">június</option>
  <option value="7">július</option>
  <option value="8">augusztus</option>
  <option value="9">szeptember</option>
  <option value="10">október</option>
  <option value="11">november</option>
  <option value="12">december</option>
</select>