{% load static %}
<div class="container-fluid">
    <footer class="row">

        <div class="col-md-4">
            <p>Projektgazda</p>
            <a href="http://k-monitor.hu/">
                <img src="{% static 'img/k-horizontalis_transp.gif' %}" width="200"/></a>
            <a href="http://www.direkt36.hu/">
                <img class="direkt-36-logo-header" src="{% static 'img/Direkt_logo_01.png' %}" width="200"/></a>
        </div>
        <div class="col-md-4">

            <p>Támogatást nyújtotta</p>
            <a href="https://theengineroom.org">
                <!-- TODO move TransparenCEE here -->
                <img class="center-block" src="{% static 'img/ter-mb-logo.png' %}" width="200"/></a>
        </div>

        <div class="logos col-md-4">
            <p>Dizájn és fejlesztés</p>
            <div class="text-center">
                <a href="http://leavenlab.com/">
                    <img src="{% static 'img/LeavenLab_logo.png' %}" width="80"/></a>
                <a href="https://level73.it/">
                    <img src="{% static 'img/LVL73.png' %}" height="44"/></a>
                <a href="https://web.burza.hr/">
                    <img class="direkt-36-logo-header" src="{% static 'img/webburza-logo-creativeandtech-invert.png' %}"
                         width="80"/></a>
                <a href="http://transparencee.org/">
                    <img class="direkt-36-logo-header" src="{% static 'img/transparencee_logo_kontra_RGB.png' %}"
                         width="80"/>
                    <a href="http://epf.org.pl/en/">
                        <img class="direkt-36-logo-header" src="{% static 'img/logo-epanstwo.png' %}" width="80"/></a>
            </div>
        </div>

    </footer>
</div>